p {
  font-size: 18px;
}




.row-centered {
  text-align: center;
}

.row-centered .col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;

}

.row-centered .col-centered p {
  
  margin-top: 10px;
  text-align: left;
  
}

.row-centered .col-centered h1 {
  
  margin-top: 100px;
  
}
.col-centered h1, p {
  text-align: center;
}

.btn-orange {
  background-color: #FFA500;
}

.btn-orange:hover {
  background-color: #FFA255;
}

.my-margin {
  margin: 20px 50px;
}

#result {
  text-align: center;
  font-size: 18px;
}